# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Text files
*.txt text eol=lf
*.md text eol=lf

# Jupyter notebooks
*.ipynb text eol=lf

# Binary files
*.jpg binary
*.png binary
*.jpeg binary
*.gif binary
*.h5 binary
*.hdf5 binary
*.weights binary
*.pb binary

